*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/*nAVBAR */

#navbar{
    display:flex;
    align-items: center;
    position:sticky;
    top: 0;
}
#navbar::before{
    content:"";
    background-color: black;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
    opacity: 0.1;
}

#logo{
  margin: 34px 45px;
}
#logo img{ 
   height: 49px;
   margin: 3px 6px;
   border-radius: 100%;

}
#navbar ul{
    display:flex;
    font-family: 'Trochut', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
   
}

#navbar ul li a{
    display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color:white;
   
}
#navbar ul li a:hover{
    background-color: white;
    color:black;
}

/*Home section */

#home{
    display:flex;
    flex-direction: column;
    padding: 2px 200px;
    justify-content: center;
    align-items: center;
    height: 367px;
    
}

#home::before{
    content:"";
    background: url("../bg1.jpg") no-repeat center center/cover;
    position:absolute;
    height: 510px;
    width:100%;
    z-index: -1;
    top:0;
    left:0;
   
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/*Services section */

#services{
    margin: 4px;
    display: flex;
}

#services .box{
    border:2px solid brown;
    padding: 34px;
    margin: 2px 20px;
    border-radius: 28px;
    background-color: #f2f2f2;

}
#services .box img{
   height: 160px;
  display: block;
  margin:auto;/*margin auto only works when u have display block with some width or height being set otherwise it wont work*/
  padding: 20px;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}

/*Client Section */
#client-section{
    
    margin-top: 25px;
}
#clients{
    display:flex;
    justify-content: center;
    align-items:center;
    
}

#client-section::before{
    content:"";
    position:absolute;
    background:url("../bg.jpg");
    width:100%;
    height:54%;
    z-index: -1;
    opacity:0.4;
    
}
#clients img {
    height: 124px;
}
.client-item{
    padding: 34px;
}
/*Contact section */
#contact{
    position:relative;
}

#contact::before{
content:"";
position:absolute;
width:100%;
height:100%;
z-index:-1;
background: url("contact.jpeg") no-repeat center center/cover;
opacity:0.6;

}

#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px;
}

#contact-box form{
    width:40%;
}

#contact-box label{
    font-size:1.3rem;
    font-family: 'Bree Serif', serif;;
}

#contact-box input ,
#contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size:1.3rem;

}

footer{
    background-color: black;   
    color:white;
    padding: 9px 20px;

}
/**Utility classes*/

.h-primary{
 font-size: 2.8rem;
 padding: 12px;
 font-family: 'Bree Serif', serif;

}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
   }



.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(71, 19, 19);
    color:white;
    margin: 17px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.center{
    text-align :center;
}
